workDir = '/hpc/temp/talbot_j/work/'

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = '/hpc/temp/talbot_j/cache/'
    runOptions = '--containall --no-home'
}

process {
    executor = 'slurm'
    queue = 'campus-new'
    errorStrategy = 'retry'
    memory = '16 GB'
    maxForks = 10
    maxRetries = 3
}